

   .login-section{
    height: 100vh;
   }

   .login-card{
    width: 450px;
   }
   .csss{
      background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSa0ee1_vohufAwrMBLQJPFVQbQQuGQlstFsg&s");
      background-repeat: no-repeat;
      background-size: cover;
      

   }